# Data Analysis for Stock1 Dataset

About Dataset:

The Dataset contains stock prices of certain companies listed in S&P 500. S&P 500 is
a stock market index that measures the stock performance of 500 large companies
listed on U.S. stock exchange.

Below is the list of stocks considered:
#### AAPL = Apple Stock
#### BA = Boeing
#### T = AT&T
#### MGM = MGM Resorts International (Hotel Industry)
#### AMZN = Amazon
#### IBM = IBM
#### TSLA = Tesla Motors
#### GOOG = Google

Importing the necessary modules

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

Reading the stock1.csv data using pandas

In [2]:
data = pd.read_csv("Downloads/stock1.csv")
data.head()

,Date,AAPL,BA,T,MGM,AMZN,IBM,TSLA,GOOG,sp500
0,2012-01-12,60.198570,75.510002,30.120001,12.13,175.929993,180.550003,28.250000,313.644379,1295.500000
1,2012-01-13,59.972858,74.599998,30.070000,12.35,178.419998,179.160004,22.790001,311.328064,1289.089966
2,2012-01-17,60.671429,75.239998,30.250000,12.25,181.660004,180.000000,26.600000,313.116364,1293.670044
3,2012-01-18,61.301430,75.059998,30.330000,12.73,189.440002,181.070007,26.809999,315.273285,1308.040039
4,2012-01-19,61.107143,75.559998,30.420000,12.80,194.449997,180.520004,26.760000,318.590851,1314.500000

The dataset has 2159 rows and 10 columns.

In [3]:
data.shape

(2159, 10)

In [4]:
data.columns

Index(['Date', 'AAPL', 'BA', 'T', 'MGM', 'AMZN', 'IBM', 'TSLA', 'GOOG',
       'sp500'],
      dtype='object')

Names of the stocks

In [5]:
print("Stock names are ", end='')
for i in data.columns[1:]:
    print(i, end=', ')

Stock names are AAPL, BA, T, MGM, AMZN, IBM, TSLA, GOOG, sp500,

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2159 entries, 0 to 2158
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2159 non-null   object
 1   AAPL    2159 non-null   float64
 2   BA      2159 non-null   float64
 3   T       2159 non-null   float64
 4   MGM     2159 non-null   float64
 5   AMZN    2159 non-null   float64
 6   IBM     2159 non-null   float64
 7   TSLA    2159 non-null   float64
 8   GOOG    2159 non-null   float64
 9   sp500   2159 non-null   float64
dtypes: float64(9), object(1)
memory usage: 168.8+ KB

In [ ]:
data.describe()

Average return of the S&P500

In [ ]:
np.mean(data.sp500)

To find which stock has the minimum dispertion from the mean in dollar value?

Statistical measures like standard deviation or variance is used to quantify dispersion and make informed investment decisions.

"Minimum dispersion from the mean" means finding the stock or index that has the smallest amount of variation (volatility) from its average value (mean). In other words, it is looking for the stock that is relatively stable compared to others.

In [ ]:
min_var_stock = data[data.columns[1:]].var()
min_var_stock.idxmin(), round(min_var_stock.min(),5)

From above analysis we find that Tesla has the minimum variance of 10.288 from the mean value. Hence, it is the most stable stock as compared to others.

Let's see the maximum value of Amazon stock over the specified period

In [ ]:
data.AMZN.max()

Checking if any column has null values

In [ ]:
data.isna().sum()

# Data Visualization

Plotting RAW Stock prices of all the stocks from the dataset and see the trend across the years.

Amazon stock prices have increased drastically in the last 7 year from 2012 to 2019.

In [ ]:
data.plot(x='Date',y=data.columns[1:])

Plotting Normalized/Scaled Stock prices from the dataset. Normalized/Scaled stock prices means to start all of the stock prices at one point so that they can easily be compared. This will help the investors to see the amount of gains they are going to get from the listed companies.

In [ ]:
first_row = data[data.columns[1:]].iloc[0]
normalized_data = data[data.columns[1:]].divide(first_row)
normalized_data = pd.concat([normalized_data,data['Date']], axis=1)

In [ ]:
normalized_data.plot(x='Date',y=normalized_data.columns[:-1])

Notice the massive gains in Tesla Stock

In [ ]:
import plotly.express as px
fig = px.scatter(data_frame=data,x='Date', y=data.columns[1:],size_max=1)
fig.show(renderer="iframe")

In [ ]:
fig = px.scatter(data_frame=normalized_data,x='Date', y=normalized_data.columns[:-1],size_max=1)
fig.show(renderer="iframe")

In [ ]:
data['sp500_daily_return'] = ((data['sp500']-data['sp500'].shift(1))*100)/data['sp500'].shift(1)
data.at[0,'sp500_daily_return'] = 0

In [ ]:
import plotly.graph_objects as go
fig = go.Figure(data=[go.Candlestick(x=data['Date'],
                open=data['sp500'],
                high=data['sp500'] + data['sp500_daily_return'],
                low=data['sp500'] - data['sp500_daily_return'],
                close=data['sp500'])])
fig.show(renderer="iframe")

In [ ]:
data['amzn_daily_return'] = ((data['AMZN']-data['AMZN'].shift(1))*100)/data['AMZN'].shift(1)
data.at[0,'amzn_daily_return'] = 0

In [ ]:
def stock_daily_return(stock_name):
    new_col_name = stock_name + '_daily_return' 
    data[new_col_name]=((data[stock_name]-data[stock_name].shift(1))*100)/data[stock_name].shift(1)
    data.at[0,new_col_name] = 0

for i in data.columns[1:-2]:
    stock_daily_return(i)

In [ ]:
data.head()

In [ ]:
fig = px.line(data_frame=data,x='Date', y=data.columns[10:])
fig.show(renderer="iframe")

In [ ]:
first_row = data[data.columns[10:]].iloc[1]
normalized_data1 = data[data.columns[10:]].divide(first_row)
normalized_data1 = pd.concat([normalized_data1,data['Date']], axis=1)

In [ ]:
normalized_data1.plot(x='Date',y=normalized_data1.columns[:-1])

In [ ]:
sns.heatmap(data[data.columns[10:]].corr(), annot=True)

In [ ]:
sns.pairplot(data[data.columns[1:10]])